:root {
	--bg-color: #fff;
	--color-black: #0e1111;
	--color-primary: #0652dd;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg-color);
	scroll-behavior: smooth;
}

.App {
	max-width: 100vw;
	width: 100%;
	min-height: 100vh;
	height: 100%;
}
